.theme-toggle {
  position: fixed;
  bottom: 24px;
  right: 24px;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  background: var(--button-bg);
  color: var(--button-text);

  border: none;
  font-size: 20px;
  cursor: pointer;

  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  pointer-events: auto;
}
